@import "../../global.scss";

#dark {
  background-color: #434343;

  a {
    text-decoration: none;
    color: #b5b5b5;
    font-weight: 500;
    font-size: 24;
  }

  li:hover {
    background-color: $headerColor;
    border-bottom: 1px solid #000;
    border-radius: 8px;

    a {
      color: #000;
    }
  }
}

.header {
  // display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 70px;
  background-color: $headerColor;
  position: fixed;
  top: 0;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0px 2px 2px 1px rgba(0, 126, 138, 0.2);

  .wrapper {
    // max-width: 1400px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left {
    a {
      margin-left: 50px;
    }
  }
  .right {
    display: flex;
    // justify-content: center;
    align-items: center;
    height: 30px;
    overflow-y: hidden;
  }

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    // margin-left: 50px;

    li {
      margin-left: 40px;
      width: 80px;
      text-align: center;
      transition: 1s ease;
      cursor: pointer;
      list-style: none;

      a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
        font-size: 24;
      }
    }
    li:hover {
      background-color: $textColor;
      border-bottom: 1px solid #000;
      border-radius: 8px;

      a {
        color: #fff;
      }
    }
  }

  .toggle {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 40px;
    margin-top: 4px;
    .moon {
      font-size: 18px;
    }
    .sun {
      font-size: 18px;
      color: #f2c94c;
    }
  }
}
