@import "../../global.scss";

#dark {
  background-color: #434343;

  a {
    text-decoration: none;
    color: #b5b5b5;
    font-weight: 500;
    font-size: 24;
    height: 45px;
  }

  a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: $headerColor;
    transition: width 0.5s;
  }
  a:hover::after {
    width: 100%;
    // margin-left: 10px;
    //transition: width .3s;
  }
}

.header {
  // display: flex;
  // justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 70px;
  background-color: $headerColor;
  position: fixed;
  top: 0;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0px 2px 2px 1px rgba(0, 126, 138, 0.2);

  .wrapper {
    max-width: 1450px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left {
    a {
      margin-left: 50px;
    }
  }
  .right {
    display: flex;
    // justify-content: center;
    align-items: center;
    height: 30px;
    overflow-y: hidden;
  }

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    // margin-left: 50px;

    li {
      margin-left: 40px;
      width: 80px;
      text-align: center;
      transition: border-bottom 0.5s ease;

      cursor: pointer;
      list-style: none;

      a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
        font-size: 24;
      }
    }
    // li:hover {
    //   // background-color: $textColor;

    //   // border-radius: 8px;
    //   // transform: translateX(10%);

    //   a {

    //     color: #fff;
    //   }
    // }
    a::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: #000;
      transition: width 0.5s;
    }
    a:hover::after {
      width: 100%;
      // margin-left: 10px;
      //transition: width .3s;
    }
  }

  .toggle {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 40px;
    margin-top: 4px;
    .moon {
      font-size: 18px;
    }
    .sun {
      font-size: 18px;
      color: #f7be16;
    }
  }
}
