@import "../../global.scss";

#Contato {
  background: linear-gradient(to bottom, #ffffff, #ccc8c8);

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1450px;
    margin: 0 auto;

    .left {
      flex: 0.5;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 10px;

      img {
        height: 230px;
        width: 250px;
      }

      h1 {
        margin-top: 10px;

        color: $textColor;
      }

      .inputs {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        input {
          margin-top: 10px;
          height: 30px;
          width: 315px;
          // border-radius: 5px;
        }

        textarea {
          margin-top: 10px;
        }

        .btn {
          width: 200px;
          height: 30px;
          margin-left: 55px;
          border-radius: 10px;
          border: 0;
          cursor: pointer;
          background: $mainColor;
          color: #fff;
          transition: filter 0.1s;

          &:hover {
            filter: brightness(1.2);
          }
        }
      }
    }

    .right {
      // background-color: #5555;
      flex: 0.5;
      flex-direction: column;

      h2 {
        color: $textColor;
        margin-bottom: 10px;
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        // margin-top: 20px;
        overflow: hidden;
        height: 50px;

        width: 40%;
        transition: all 250ms;

        p {
          color: #000;
          margin-left: 5px;
        }
        .icon {
          margin-left: 15px;
        }

        &:hover {
          transform: scale(1);
          font-weight: bold;
          margin-left: 10px;
        }
      }
      .codigo {
        margin-top: 20px;

        a {
          margin-top: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #Contato {
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .left {
        img {
          height: 150px;
          width: 150px;
        }

        .inputs {
          display: flex;
          flex-direction: column;
          margin-top: 10px;
          align-items: center;
          justify-content: center;

          input {
            margin-top: 10px;
            height: 20px;
            width: 250px;
            // border-radius: 5px;
          }

          textarea {
            margin-top: 10px;
            width: 250px;
            height: 80px;
          }

          .btn {
            margin-left: 0px;
          }
        }
      }

      .right {
        // background-color: #5555;
        flex: 0.5;
        flex-direction: column;
        margin-top: 20px;

        h2 {
          color: $textColor;
          margin-bottom: 10px;
        }

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          // margin-top: 20px;
          overflow: hidden;
          height: 50px;

          width: 40%;
          transition: all 250ms;

          p {
            color: #000;
            margin-left: 5px;
          }
          .icon {
            margin-left: 15px;
          }

          &:hover {
            transform: scale(1);
            font-weight: bold;
            margin-left: 10px;
          }
        }
        .codigo {
          margin-top: 20px;

          a {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
